<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="SaturnCI: Continuous Integration for Ruby on Rails and RSpec">
  <title><%= page_title ? "#{page_title} - #{title}" : title %></title>
  <link rel="stylesheet" href="styles.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C687RN9MVF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C687RN9MVF');
  </script>
</head>

<body>

<nav class="navbar">
  <div class="nav-links">
    <a href="./index.html" class="nav-link<%= active_nav == 'index' ? ' active' : '' %>">Home</a>
    <a href="./documentation.html" class="nav-link<%= active_nav == 'documentation' ? ' active' : '' %>">Documentation</a>
    <a href="./about.html" class="nav-link<%= active_nav == 'about' ? ' active' : '' %>">About</a>
  </div>
  <a class="nav-sign-up-link" href="https://docs.google.com/forms/d/e/1FAIpQLSf98Bpdibk65RnXCWZtiwKQxnSu5mUgqLBSZeVZHVXXsUye4g/viewform?usp=dialog">Request SaturnCI Invite</a>
</nav>

<%= content %>

<br>
<hr>

<div>SaturnCI</div>
<div><a href="mailto:jason@saturnci.com">jason@saturnci.com</a></div>

<div>
  16601 Myers Lake Ave<br>
  Sand Lake, Michigan 49343
</div>

</body>
</html>
